SPREADSHEET_ID=GOOGLE_SHEET_ID
SHEETS_DISPONIBLES=LOCAL UNO,LOCAL DOS
CREDENTIALS_PATH=credentials.json
WHATSAPP_TOKEN=POSTERIOMENTE

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=atrevida_db
DB_SSLMODE=require